<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/olegi/IdeaProjects/CucumberThird">
        <classes>
            <class name="Runners.Runner1"></class>
                
        </classes>
                
    </test>
</suite>